<h3>{{image.name}}</h3>
    <div class="buttons-section">
        <button mat-raised-button color="primary" (click)="allowDrawingOnCanvas()">
            <mat-icon aria-hidden="false" aria-label="Draw Freeform">create</mat-icon>
        </button>
        <button mat-raised-button color="warn" (click)="clearCanvas()">
            <mat-icon aria-hidden="false" aria-label="Clear All Annotations">delete_forever</mat-icon>
        </button>
        <button mat-raised-button class="success-button" (click)="saveAnnotations()">
            <mat-icon aria-hidden="false" aria-label="Save Annotations">save</mat-icon>
        </button>
    </div>
    <div class="image-section">
        <canvas #canvasImg width="385px" height="400px"></canvas>
    </div>